
module logrotate2mysqld 1.0;

require {
	type mysqld_db_t;
	type logrotate_t;
	class lnk_file read;
}

#============= logrotate_t ==============
allow logrotate_t mysqld_db_t:lnk_file read;
